.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(68, 67, 67);
    align-items: center;
    padding-bottom: 1.5em;
    margin-top: 3.3em;
}

.about-the-project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60rem;
    background-color: rgb(225, 201, 180);
    color: rgba(42, 50, 91, 0.488);
    border: 2px solid white;
    border-radius: 2em;
    margin: auto;
    margin-top: 3em;
}


@media screen and(max-width: 500px) {
    .about-the-project {
        width: 20em;
    }

    .about-the-project-title {
        margin-left: 5rem;
    }

    .aboutTheProject-txt-box {
        display: contents;
    }
}

.about-the-project-title {
    width: 10em;
    background-repeat: repeat-x;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/star.svg");
    background-position: 0 1.06em;
    background-size: 10px 9px;
    color: #4a506d;
    margin-bottom: 2em;
    margin-left: 25rem;
    margin-top: 2em;
}

.project-name {
    font-family: fantasy;
    color: #6a7197;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.aboutTheProject-txt-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    align-items: center;
    padding: 1em 2em 1em 2em;
}

.span-txt {
    background: whitesmoke;
    color: darkred;
    padding: 2em;
    margin: 0.5em;
    font-size: 17px;
    font-weight: bold;
    font-family: Geneva, Verdana, sans-serif;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.about-container p {
    text-align: center;
    width: max-content;
    max-width: 30rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.about-us-container {
    margin: auto;
    display: inline-block;
    margin-top: 3em;
}

.go_back_button {
    align-items: center;
    justify-content: center;
    display: flex;
    font: inherit;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    transition-duration: 1s;
    width: 10rem;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    margin-right: -3em;
}

.go_back_button:hover,
.go_back_button:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(48, 48, 48, 0.464);
    border-color: rgb(247, 245, 245);
    color: whitesmoke;
    border: 1px solid;
    font-size: larger;
}

.copyright-style {
    color: white;
    display: flex;
    height: 3rem;
    width: 10rem;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    /* color: green; */
}

.bottom-container:hover {
    color: rgb(16, 211, 16);
}