.coursePage-rate-courseTitle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(92, 93, 140, 0.715);
    border: 1px solid transparent;
    border-radius: 50px;
    color: rgba(230, 234, 240, 0.715);
    font-size: 18px;
    animation: fadeIn 5s;
}

.coursePage-courseTitle-succsesMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 105, 62, 0.715);
    border: 1px solid transparent;
    border-radius: 50px;
    color: rgba(230, 234, 240, 0.715);
    font-size: 18px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.coursePage-rate-courseTitle:hover {
    background-color: rgba(230, 234, 240, 0.715);
    color: rgba(92, 93, 140, 0.715);
    /* border-bottom: 1px dotted rgba(92, 93, 140, 0.715); */
}

.rate-div {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.txt-and-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.6em;
}

.rate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.45em;
    height: 2.5em;
    margin-left: 1em;
    background-color: rgb(235, 235, 235);
    background-image: url('../../../images/like.png');
    /* background-image: url('../../../images/dislike.png'); */

    /* background-image: url('../../../images/clicked_like.png'); */
    /* background-image: url('../../../images/clicked_dislike.png'); */

}

.rate-container:hover {
    background-color: rgb(64, 61, 61);

    /* border: 1px solid red; */
    border: 2px dotted rgb(173, 200, 173);
    border-radius: 20%;
}

.rateCourse-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 234, 240, 0.715);
    color: rgb(44, 38, 38);
    border: 4px solid transparent;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

}

.rateCourse-btn:hover {
    background-color: rgba(61, 63, 65, 0.715);
    border-radius: 2em;
    border-right: 4px solid rgb(196, 209, 12);
    border-top: none;
    border-bottom: none;
    outline: 1px solid #b39075;
    color: rgba(230, 234, 240, 0.715);
}

.confirmBtn-smile {
    font-size: 6px;
    margin: 0 -0.2em 0 0.4em;
    color: rgb(196, 209, 12);
}