.customer-page-container {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin-top: 3em;
    padding-top: 2em;

    /* width: auto; */
    /* height: 100vh; */
}

.customer-actions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13em;
    max-width: 15em;
    align-content: center;
    /* padding: 0 0 0 1em; */
    margin-right: 0.5em;
    border-left: 1.8px dashed rgb(81, 197, 75);
    height: 13em;
    background-color: whitesmoke;
    /* border-radius: 10%; */
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.customer-gretting {
    color: rgb(108, 128, 96);
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0.7em;
    text-align: center;
}


.customer-userName {
    overFlow: scroll;
    display: table-caption;
    /* font-family: Montserrat, Arial, sans-serif; */
    /* font-size: 1em; */
    background-color: black;
    color: transparent;
    text-shadow: 0px 2px 3px lightgrey;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

.customer-image-home-container {
    background-image: url("https://images.pexels.com/photos/7590968/pexels-photo-7590968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -8em; */
    opacity: 0.7;
    width: 50em;
    height: 80vh;
    border-radius: 2em;
    /* margin-right: 2em; */
}

.action-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-actions-btn {
    font-size: 0.8em;
    border-radius: 50em;
    background-color: green;
    color: whitesmoke;
    width: 12em;
    margin: 0.2em 0 0.2em 0;
}

.customer-actions-btn:hover {
    background-color: whitesmoke;
    color: green;
    cursor: pointer;
    transition: all 300ms linear;
}

.customer-actions-btn:focus {
    background-color: whitesmoke;
    color: green;
}

.allCardsPages-customerPage-container {
    width: 72em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
    padding-left: 3.3em;
    /* justify-content: flex-start; */
    /* height: 50em; */
    overflow: auto;
}

.myCourses-customerPage-container {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 23em;
    overflow: scroll;
    margin: 0 0.4em 0 0;
    padding-left: 0.1em;
    /* border: 1px dashed black; */
    /* border-left: 1px solid black; */
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgb(52, 73, 146),
            rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(-215deg, whitesmoke 0%, #adbcad 51%, #77927a 90%);
}

.myCourses-customerPage-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

.my_all_Courses-courseName-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px dotted rgb(200, 90, 90);
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px #344992, 0 0 5px rgb(3, 3, 116);
    margin: 0 0.4em 0 0.4em
}

.allCards-customerPage-container {
    display: flex;
    flex-direction: column;
    width: 15em;
    overflow: scroll;
    margin: 0 0.4em 0 0;
    padding-left: 0.1em;
    /* border: 1px dashed black; */
    /* border-left: 1px solid black; */
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgb(52, 73, 146),
            rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(-215deg, whitesmoke 0%, #adafbc 51%, #777b92 90%);
}

.allCoursesCards {
    height: 21.5em;
    cursor: pointer;
}

.allCoursesCards:hover {
    opacity: 0.9;
    border: 1.5px solid rgba(214, 70, 13, 0.365);
}

.customer-myCoursesCards-title {
    color: rgb(136, 116, 116);
    padding: 0 0.3em 0 0.3em;
    border-bottom: 1px dotted rgb(200, 90, 90);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-trainersCards-title {
    color: rgb(136, 116, 116);
    padding: 0 0.3em 0 0.3em;
    /* border-bottom: 1px dotted rgb(200, 90, 90); */
    text-align: center;
    padding-bottom: 0.5em;
    margin: 0 0.2em 0.2em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    background: linear-gradient(-215deg, #f9f90395 10%, whitesmoke 51%, #f9f90395 90%);
    font-style: oblique;
    font-weight: bold;
}

.customer-trainersCards-title.rating-female-title {
    background: linear-gradient(-215deg, #ec759a 10%, whitesmoke 51%, #ec759a 90%);
}

.customer-trainersCards-title.rating-male-title {
    background: linear-gradient(-215deg, #404c78 10%, whitesmoke 51%, #404c78 90%);
}

.customer-trainersCards-trainerName {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1em;
}

.customer-allTrainers-trainerName {
    font-weight: bold
}

.customer-allCoursesCards-title {
    color: rgb(136, 116, 116);
    margin: 0 0.4em 0 0.4em;
    border-bottom: 1px dotted rgb(200, 90, 90);
    display: flex;
    align-items: center;
    text-align: center;
    /* line-height: 1.3em; */
}

.customer-trainersCards-title .customer-allCoursesCards-title .customer-myCoursesCards-title, .data-item {
    word-wrap: break-word;
    display: flex;
    max-width: calc(100% - 4px);
    color: rgb(79, 79, 77);
    /* text-decoration: underLine; */
    font-size: 13px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* line-height: 1em; */
}

.trainer-rating-items {
    /* border-image:
        linear-gradient(to bottom,
            rgb(76, 89, 135),
            rgba(39, 35, 35, 0)) 1 100%; */
    border-bottom: 2.5px solid rgb(56, 54, 54);
    background: linear-gradient(-215deg, #777b92 10%, #adafbc 51%, #989db9 90%);
    border-radius: 2em;
    width: 10em;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(223, 243, 70, 0.918);
}

.item-rating-number {
    color: rgb(136, 116, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
}

.allCoursesCards-trainerLabel {
    color: rgb(30, 87, 125);
    margin: 0 0.4em 0 0.4em;
    border-top: 1px dotted rgb(200, 90, 90);
}

.trainerName-data-item {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allTrainers-topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-allTrainers-container {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(185, 121, 121);
    background-color: rgb(48, 44, 44);
    opacity: 1;
    height: 2em;
    width: 2em;
    margin-left: 2em;
    cursor: pointer;
}

.close-allTrainers-container:before {
    content: "✖";
    cursor: pointer;
    color: white;
    opacity: 0.8;
}

.close-allTrainers-container:hover {
    background-color: red;
}

.filterByGender-btn {
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(156, 67, 96); */
    border-image:
        linear-gradient(to bottom,
            rgba(69, 107, 247, 0.77),
            rgb(170, 41, 84)) 1 10%;
    color: rgb(249, 246, 247);
    background-color: rgb(113, 105, 107);
    margin-right: 0.5em;
    cursor: pointer;
    /* width: 5em; */
}

.maleGender-btn {
    display: flex;
    align-items: center;
    border: 1px dashed rgb(243, 239, 239);
    color: rgb(249, 246, 247);
    background-color: rgb(49, 62, 116);
    margin-right: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.femaleGender-btn {
    display: flex;
    align-items: center;
    border: 1px dashed rgb(243, 239, 239);
    color: rgb(249, 246, 247);
    background-color: rgb(235, 49, 108);
    margin-right: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.filterByGender-btn:hover {
    opacity: 0.8;
    border: 2px solid transparent;
    background-color: rgb(60, 57, 58);
}

.maleGender-btn:hover, .femaleGender-btn:hover {
    opacity: 0.8;
    border: 1px solid transparent;
}

.amount-statement {
    border-bottom: double;
    border-color: #5db367;
}

.emptyData-message {
    display: flex;
    align-items: center;
    margin-right: 13em;
    font-size: 24px;
    color: brown;
}
