@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50rem;
    margin: auto;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
    padding: 10px;
    /* padding-top: 6.5em; */
    margin-top: 6em;

    /* border-radius: 2%; */
    justify-content: space-around;

}

.imageSize {
    width: 30rem;
    height: 30rem;
}

@media screen and (max-width: 1100px) {
    .form-container {
        display: block;
    }

    .contactUs-form {
        margin-top: 3em;
    }

    .contactUs-form {
        margin-left: 9em;
    }
}

@media screen and (max-width: 660px) {
    .form-container {
        margin-top: 0;
    }

    .imageSize-m-queries {
        width: 400px;
        height: 400px;
        /* margin-top: 0; */
    }

    .images-container {
        height: 20em;
        margin-top: 6em;
    }

    .contactUs-form {
        margin-left: 4em;
    }
}

@media screen and (max-width: 430px) {
    .imageSize-m-queries {
        width: 280px;
        height: 280px;
        margin-left: 1em;
    }

    .contactUs-form {
        margin-top: 2em;
        margin-left: 2.5em;
    }

    .images-container {
        height: 15em;
        margin-top: 6em;
    }
}

.contactUs-form {
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 10px; */
    /* background-color: whitesmoke; */
}

.success-message {
    display: flex;
    text-align: center;
    line-height: 1;
    /* font-family: "Roboto", sans-serif; */
    border: 1px solid lightgray;
    padding: 9px;
    color: rgb(61, 160, 192);
    border-radius: 16px;
    text-shadow: 1px 0.4px;
    font-size: 14px;
}

.form-field {
    margin: 0 0 3px 0;
    padding: 12px;
    font-size: 16px;
    border: none;
    /* border-radius: 16px; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #a3afb6f3;
    color: rgb(24, 54, 99);
    font-weight: bold;
    caret-color: rgb(51, 25, 215);
}

.form-field::placeholder {
    color: #544f4df3;
}

.existUser-field {
    background-color: #000000ca;
    color: rgb(186, 182, 182);
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    letter-spacing: 1px;
    text-indent: 10px;
}

.existUser-field-gender-label {
    visibility: hidden;
}

.label-select-holder {
    margin: 0 0 3px 0;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #a3afb6f3;
    color: rgb(38, 48, 63);
    font-weight: bold;
}

/* .label-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0.1;
    font-family: "Roboto", sans-serif;
} */

.error-field {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}

/* input {
    background: #d9e1b1;
} */

.error {
    border-style: solid;
    border: 2px solid #ffa4a4;
    height: 1em;
}

.btn-container {
    background: #69976a;
    color: white;
    cursor: pointer;
    margin: 10px 0 10px 0;
    width: 12em;
    height: 2em;

    /* padding: 15px; */
    font-size: 16px;
    border: 0px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
}

.btn-container:hover {
    background: white;
    color: #69976a;
    cursor: pointer;
    border: 1.5px solid #69976a;
}

/* button:disabled {
    cursor: default;
} */

.images-container {
    display: flex;
    /* height: 30em; */
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    /* background-color: rgb(211, 155, 155); */
    border-radius: 10px;
    /* border: 1px solid pink; */
}


/* .checkbox-field {
    color: #d9e1b1;
    width: 1em;
    padding: 10px;
} */